name: "PV Manager"
description: "Smart energy manager for home photovoltaic systems"
version: "0.1.3"
slug: "pv-manager"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ingress: true
panel_icon: mdi:home-battery
