name: Build Add-on

on:
  push:
    branches:
      - main
    paths:
      - "pv-manager/**"
      - ".github/workflows/**"
      - "build.yaml"

jobs:
  build:
    name: Build PV Manager
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target pv-manager \
            --image "pv-manager-{arch}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}"
